body {
    text-align: center;
}

.msg .error {
    color: red;
    font-weight: bold;
}

input {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.recaptcha {
    align-content: center;
}

.img-show {
    max-width: 90%;
}